<!DOCTYPE html>
<html>


 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ink --Home</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
  </head>
  <body>
  <script src="js/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js" type="text/javascript"></script>
  <script src="../../public/javacript/app.js"></script>
  <link rel="stylesheet" href="../../public/css/style.css" type="text/css">
  </body>
</html>
  </head>
  <body>
  <main>
    <header>
      <h1>FAVORITE GIFS</h1>
    </header>
  <section>
    <a href="/gif/new">ADD NEW GIF</a>
    <% gifs.forEach((gif) => {%>

    <div class="gif-container">

      <h2><%= gifs.name %></h2>

      <a href="/gif/<%= gif.id %>">
         <img src="<%= gif.url %>" alt="<%= gif.name %>">
      </a>




      <p>LIKES: <%= gif.likes %></p>

      <form action="/gif/<%= gif.id %>/like?_method=PUT" method="POST">
        <input type="submit" value="LIKE">
      </form>

    </div>
    <%})%>
  </section>



  </main>
  </body>
</html>
